<form class="pt-2 grid" autocomplete="off" [formGroup]="paramForm">
  <div class="field col-12 mb-2">
    <span class="p-float-label w-12">
      <input pInputText type="text" id="name" class="w-12" formControlName="name" />
      <label for="name">Название</label>
    </span>
  </div>
  <div class="col-12 flex justify-content-end">
    <button
      pButton
      type="button"
      label="Отмена"
      (click)="modal.destroy()"
      class="p-button-outlined p-button-secondary"
    ></button>
    <button pButton type="button" label="Сохранить" class="ml-1" (click)="save()"></button>
  </div>
</form>
