<div class='grid' [formGroup]='scriptForm'>
  <div class="field col-8 flex justify-content-center mt-1">
      <span class="p-float-label p-input-icon-left w-12">
          <i class="pi pi-folder"></i>
          <input pInputText
                 type="text"
                 id="login_field"
                 class='w-12'
                 formControlName='name'>
          <label for="login_field">Название</label>
      </span>
  </div>
  <div class="field col-8 flex justify-content-center dropdown-i">
      <span class="p-float-label p-input-icon-left w-12">
          <i class="pi pi-folder-open"></i>
          <p-dropdown [options]="folders"
                      formControlName='parentFolderId'
                      optionLabel='name'
                      optionValue='id'
                      placeholder='&nbsp;'
                      id='folders'></p-dropdown>
          <label for="folders">Создать в папке (необязательно)</label>
      </span>
  </div>
  <div class='col-8'>
    <p-button label="Создать" styleClass="p-button-success" (onClick)='addScript()'></p-button>
  </div>
</div>
