<div class='not-found unselectable'>
  <div></div>
  <div class='page-center'>
    <div>
      <img src='assets/404-blue.svg' height='150px' alt='404'>
    </div>
    <div class='page-header'>Страница не найдена</div>
    <div class='page-message pt-3'>Возможно, где-то в адресе ошибка или страница переехала</div>
    <p-button [routerLink]='[""]'
              label='На главную'
              styleClass='p-button-text p-button-raised mt-4'>
    </p-button>
  </div>
  <div class='pb-3'>
    <span>Все права защищены | 2021 | Разработано командой <a href='https://progoff.ru/' target='_blank'>Progoff</a></span>
  </div>
</div>
