.accordion-header {
  width: 100%;
}

.marked-blocks {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 20rem;
}

.block__actions {
  position: relative;
  z-index: 1;
}

.block__edit {
  position: relative;
  z-index: 1;
}

.p-button {
  &.secondary-btn {
    background-color: var(--gray-600);

    &:enabled:hover {
      opacity: 0.9;
    }
  }
}

.block__transitions {
  display: flex;
  .block__transition {
    display: flex;
    position: relative;
    .transition_edit {
      position: absolute;
      top: 0;
      right: 0;
      width: 15px;
      height: auto;
      display: none;
      background: white;
      border: 1px solid var(--gray-600);
      span {
        font-size: 10px !important;
      }
    }

    &:hover {
      button:last-child {
        display: block;
      }
    }
  }
}
