:host ::ng-deep {
  p-accordiontab {
    &.group {
      .p-accordion-header a {
        background-color: var(--blue-50);
      }
    }
    .p-accordion-tab {
      transition: unset !important;
    }
  }
}

.accordion-header {
  width: 100%;
}

.marked-blocks {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 20rem;
}

.block__actions {
  position: relative;
  z-index: 1;
}

.block__edit {
  position: relative;
  z-index: 1;
}

.p-button {
  &.secondary-btn {
    background-color: var(--gray-600);

    &:enabled:hover {
      opacity: 0.9;
    }
  }
}

.block__transitions {
  display: flex;
  .block__transition {
    display: flex;
    position: relative;
    .transition_edit {
      position: absolute;
      top: -10px;
      right: -7px;
      min-height: auto !important;
      width: 24px;
      height: 24px;
      display: none;
      background: white;
      border: 1px solid var(--gray-600);

      ::ng-deep span.pi {
        font-size: 10px;
      }
    }

    &:hover {
      button:last-child {
        display: flex;
      }
    }
  }
}

.p-button-sm.p-button-icon-only {
  width: 2rem;
}

.tasks-btn {
  transition: unset;

  &.btn-blink {
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  from {
    background-color: white;
    color: var(--primary-color);
  }
  to {
    background-color: var(--primary-color);
    color: white;
  }
}
