<div class="grid m-0">
    <div class="col-10 m-auto">
        <div class="col-12 w-12 mt-1 mb-0">
            <p-dropdown [options]="usersSearchResult" optionLabel="email" optionValue="id" id="dropdown" [filter]="true"
                [formControl]="userFormControl" filterBy="email" placeholder="Выбор пользователя"
                emptyFilterMessage="Нет данных" emptyMessage="Нет данных" class="mr-3 w-12 flex-grow-1"
                (onChange)="searchUser($event)">
                <ng-template let-user pTemplate="item">
                    {{ user.name }}
                </ng-template>
            </p-dropdown>
        </div>
        <div class="col-12 mt-1 mb-0">
            <p-tree [value]="treeData" selectionMode="checkbox" [(selection)]="selectedElems"></p-tree>
        </div>
        <p-button label="Добавить доступ" styleClass="p-button-success" (onClick)="addAccess()">
        </p-button>
    </div>
</div>