<div class="grid m-0">
    <div class="col-10 m-auto">
        <form>
            <div class="field col-8 mt-1 mb-0">
                <span class="p-float-label w-12">
                    <!-- <p-autoComplete [formControl]="userSelectControl" [suggestions]="users"
                        (completeMethod)="searchUser($event)" id=""></p-autoComplete> -->
                    <label for="login_field">Пользователь</label>
                </span>
            </div>
            <div class="flex">
                <div class="field col-8 mt-1 mb-0">
                    <span class="p-float-label w-12">
                        <!-- <p-treeSelect [(ngModel)]="selectedNode" [options]="nodes" placeholder="Select Item">
                        </p-treeSelect> -->
                    </span>
                </div>
            </div>
        </form>
    </div>
</div>