:host ::ng-deep .p-breadcrumb.p-component {
  padding-left: 0;
  padding-bottom: 0;
  border: none !important;
}

.table {
  th {
    font-weight: bold;
  }
  .none-td-border {
    & > td {
      border: none !important;
    }
  }
}

.no-opacity {
  opacity: 0 !important;
}

.scripts-actions {
  width: 100%;

  .search-input {
    ::ng-deep .p-dropdown {
      max-height: 40px;
      display: flex;

      .p-dropdown-label {
        padding: 11px;
      }
    }
  }
}
