<div class="m-0 grid px-3">
  <div class="col">
    <div class="flex justify-content-between align-items-center mb-3">
      <h2 class="my-0">Блоки</h2>
      <button
        pButton
        pRipple
        type="button"
        label="Создать блок без переходов"
        class="p-button-raised p-button-text"
      ></button>
    </div>
    <p-accordion>
      <p-accordionTab
        [(selected)]="block.isOpened"
        *ngFor="let block of scriptBlocks"
        class="tab-{{ block.id }}"
        tabindex="1"
      >
        <ng-template pTemplate="header">
          <div class="flex justify-content-between align-items-center accordion-header">
            <div class="flex align-items-center flex-grow-1 edit-action">
              <h4 class="m-0 pl-2 pr-1 p-0">{{ block.name }}</h4>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-pencil"
                class="p-button-rounded p-button-text"
              ></button>
            </div>

            <div>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-trash"
                class="p-button-rounded p-button-text"
                (click)="onRemoveBlock(block.id, $event)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                [icon]="'pi ' + (block.isFavorite ? 'pi-star' : 'pi-star-o')"
                class="p-button-rounded p-button-text"
                (click)="onMarkBlock(block.id, $event)"
              ></button>
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-bars"
                class="p-button-rounded p-button-text"
              ></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="content"
          ><div class="accordion-body">Body Content</div></ng-template
        >
      </p-accordionTab>
    </p-accordion>
  </div>
  <ng-container *ngIf="favoriteBlocks?.length">
    <p-divider layout="vertical" styleClass="m-3 my-0 p-0"></p-divider>
    <div class="col-fixed marked-blocks px-0">
      <button
        pButton
        pRipple
        type="button"
        [label]="block.name"
        class="p-button-outlined mr-2 mb-2"
        *ngFor="let block of favoriteBlocks"
        (click)="onMarkedBlockClick(block.id)"
      ></button>
    </div>
  </ng-container>
</div>
